<div class="col-sm-6 col-md-5">
    	<div class="mdl-1 mdl-news">
            <div class="title">
              <a href="#" class="txt"> Tin tức</a>
              <a href="#" class="pull-right view-all"></a>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <a href="#">
                  <img class="media-object" src="/images/4x3.png" width="100%" alt="...">
                </a>
              </div>
              <div class="col-xs-12 col-md-6">
                <h4 class="media-heading"><a href="#">2NE1 bị làm giả ảnh đĩa nhạc mới </a></h4>
                <p class="description">Một bức ảnh được lan truyền trong cộng đồng fan Kpop với tiêu đề “ảnh teaser hé lộ 2NE1 trở lại”...</p>
              </div>
            </div>
            <p class="ellipsis"><a href="#">Anh cả của Super Junior úp mở nhóm trở lại </a></p>
            <p class="ellipsis"><a href="#">Điều gì chờ đợi người hâm mộ tại Billboard Music Awards</a></p>
            <p class="ellipsis"><a href="#">Sơn Tùng M-TP từng muốn bỏ nghề về quê bán quần áo</a></p>
            <p class="ellipsis"><a href="#">Nhạc phim 'Bao giờ có yêu nhau' ám ảnh người xem</a></p>
            <p class="ellipsis"><a href="#">Lạc vào xứ thần tiên cùng Pink trong 'Just Like Fire'</a></p>
        </div>
    </div>
