<div class="banner" style="background-image:url(/images/img_03.jpg)">
  <div class="container">
        <!-- <div class="list-group box-playing">
          <div href="#" class="list-group-item">
            <h4>Now playing <span class="pull-right"><i class="fa fa-angle-right"></i></span></h4>
          </div>
          <div href="#" class="list-group-item active">
          	<span class="fa icon-playing pull-right"></span>

                <a href="#" class="song-name ellipsis">Say you do</a>
                <p class="singer-name ellipsis"><a href="#">Tiên tiên</a></p>

          </div>
          <div href="#" class="list-group-item">
          	<span class="fa icon-playing pull-right"></span>
            <div class="wrap-text">
                <a href="#" class="song-name ellipsis">Say you do</a>
                <p class="singer-name ellipsis"><a href="#">Tiên tiên</a></p>
            </div>
          </div>
          <div href="#" class="list-group-item">
          	<span class="fa icon-playing pull-right"></span>
            <div class="wrap-text">
                <a href="#" class="song-name ellipsis">Say you do</a>
                <p class="singer-name ellipsis"><a href="#">Tiên tiên</a></p>
            </div>
          </div>
          <div href="#" class="list-group-item">
          	<span class="fa icon-playing pull-right"></span>
            <div class="wrap-text">
                <a href="#" class="song-name ellipsis">Say you do</a>
                <p class="singer-name ellipsis"><a href="#">Tiên tiên</a></p>
            </div>
          </div>
          <div href="#" class="list-group-item">
          	<span class="fa icon-playing pull-right"></span>
            <div class="wrap-text">
                <a href="#" class="song-name ellipsis">Say you do</a>
                <p class="singer-name ellipsis"><a href="#">Tiên tiên</a></p>
            </div>
          </div>
          <div href="#" class="list-group-item">
          	<span class="fa icon-playing pull-right"></span>
            <div class="wrap-text">
                <a href="#" class="song-name ellipsis">Say you do</a>
                <p class="singer-name ellipsis"><a href="#">Tiên tiên</a></p>
            </div>
          </div>
        </div> -->
    </div>
  </div>
