@import url('initialize.css');
/************header*************/
.header {
	/*background:rgba(255,60,0,0.85);*/
	background:#ee3a02;
}

.header a{
	color:#fff;
}

/************navbar-imuzik*************/
.navbar-imuzik {
	background:none;
	margin:0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:0;
}

.navbar-imuzik .search-mobile{
	display:none;
	cursor:pointer;
	}

.navbar-imuzik .navbar-brand {
	padding:3px 5px;
	}

.navbar-imuzik .navbar-nav > li > a {
	color:#fff;
	padding-top:16px;
	padding-bottom:12px;
	font-size:16px;
}

.navbar-imuzik .user {
	padding:4px 0 0 9px !important;
	width:29px;
	height:29px;
	border:1px solid #fff;
	border-radius:16px;
	margin-top:10px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background:#eb8a60;
	color:#fff;	
	}

.navbar-imuzik .navbar-nav > .active > a, .navbar-imuzik .navbar-nav > .active > a:hover, .navbar-imuzik .navbar-nav > .active > a:focus {
	color:#fff;	
	border-bottom:2px solid #fdce26;
	background:none;
	font-size:16px;
}

.navbar-imuzik .input-group{
	border:1px solid #ff823e;	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-right:10px;	
	}
	
.navbar-imuzik .form-control {
	background:none;
	padding:0;
	border:0;
	box-shadow:none;
	height:30px;
	color: #f9bd9f;	
	}
	
.navbar-imuzik input::-moz-placeholder{
	color:#f9bd9f !important;	
	}

.navbar-imuzik .input-group-addon{
	background:none;
	padding:0;
	padding-left:10px;
	padding-right:5px;	
	border:0;
	}
	
.navbar-imuzik .input-group-addon .btn-default{
	background:none;
	padding:0;	
	border:0;	
	color:#fff;
	font-size:16px;
	margin:0;
	vertical-align:middle;
	}
	
.navbar-imuzik .input-group-addon .btn-default i{
	vertical-align:middle;
	}	

/************banner*************/
.banner {
	background-repeat:no-repeat;
	background-position:center;
	background-color:#eb5203;
	position:relative;
	background-size:cover;
}

.banner .player-bar {
	position:absolute;
	bottom:0;
}
	
/************mdl-1*************/
.mdl-1 {
	/*overflow: hidden; Fix dropdown select*/
	padding: 0 0 0 0;
	position: relative;
	margin-bottom:15px;
}
.mdl-1 a{
	color:#333333;
}
.mdl-1 a:hover{
	color:#666666;
	text-decoration:none;
}
.mdl-1 .title,.mdl-1 .title .txt,.mdl-1 .title-2,.mdl-1 .title-2 .txt,.mdl-1 .title-3,.mdl-1 .title-3 .txt{
	font-size:36px;
	color:#ff4200;
	margin:25px 0 10px 0;
	font-family:LatoLight;
}
.mdl-1 .title-4,.mdl-1 .title-4 .txt{
	font-size:26px;
	color:#ff4200;
	margin:25px 0 10px 0;
	font-family:LatoLight;
}
.mdl-1 .title-3,.mdl-1 .title-3 .txt,.mdl-1 .title-4,.mdl-1 .title-4 .txt{
	margin:0px 0 10px 0;
}
.mdl-1 .title a.txt:hover,.mdl-1 .title-2 a.txt:hover {
    color:#ff6a00;
	text-decoration:none;
}
.mdl-1 .title .view-all,.mdl-1 .title-2 .view-all {
    border-bottom: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    display: inline-block;
    height: 13px;
    transform: rotate(-45deg);
    width: 13px;
	margin:20px 3px 0 0;
}
.mdl-1 .title .view-all:hover,.mdl-1 .title-2 .view-all:hover {
    border-bottom: 1px solid #858585;
    border-right: 1px solid #858585;
}
.mdl-1 .mdl-content {
	clear: both;
	margin-top: 10px;
}
.mdl-1 .item {
}
.mdl-1 .item .image-play {
	display: inline-block;
	position: relative;
	color:#fff;
}
.mdl-1 .item .image-play img {
}
.mdl-1 .item .image-play .fa {
	position: absolute;
	font-size: 1.4em;
	top: 50%;
	left: 50%;
	margin-left:-3.5px;
	margin-top:-8.5px;
}
.mdl-1 .item .image-play .fa:after {
	width:40px;
	height:40px;
	border-radius:21px;
	z-index:0;
	background:#ff4200;
	content:" ";
	position:absolute;
	top:-10px;
	left:-14px;
}
.mdl-1 .item .image-play .fa:before {
	z-index:5;
	position:absolute;
}
.mdl-1 .item .progressing {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	height: 2px;
	background: #da0011;
	left: 0;
}
.mdl-1 .item .name {
	font-size: 14px;
	margin-bottom: 3px;
	line-height:normal;
	margin-top:5px;
}
.mdl-1 .item .name-2 {
	font-size: 14px;
	margin-top:3px;
	margin-bottom: 3px;	
}
.mdl-1 .item .description {
	color: #9e9e9e;
	margin:0;
	font-size:12px;
}
.red-mask {
	background: #db1e24;
	text-transform: uppercase;
	font-size: 0.75em;
	border-radius: 2px;
	padding: 2px 5px;
	display: inline-block;
	color: #fff;
}
.red-mask .fa {
	font-size: 0.5em;
	height:5px;
	width:5px;
	vertical-align:middle;
}
.mdl-1 .image {
	position: relative;
	text-align: center;
}
.mdl-1 .image .overlay {
	color: #fff;
	display: block;
	font-size: 2.5em;
	right: 5px;
	line-height: 0;
	position: absolute;
	text-align: right;
	bottom: 5px;
	vertical-align: middle;
}
.mdl-1 .image .overlay i {
	color: #fff;
	opacity: 0.8;
	background: rgba(0,0,0,0.2);
	border-radius: 20px;
}
.mdl-1 .image .icon-list {
	background: rgba(206, 83, 88, 0.75);
	border-radius: 5px;
	font-size: 12px;
	color: #fff;
	padding: 0 5px;
	position: absolute;
	left: -9px;
	top: 5px;
}
.mdl-1 .item-imuzik {
	overflow: inherit !important;
	position: relative;
	display: block;
}
.mdl-1 .item-imuzik .media-heading {
	margin-bottom: 0;
	line-height: normal;
}
.mdl-1 .txt-song {
	color: #fff;
}
.mdl-1 .txt-song, .mdl-1 .txt-song a {
	color: #2b2b2b;
	margin: 0 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	line-height: normal;
	font-size: 14px;
}
.mdl-1 .txt-singer, .mdl-1 .txt-singer a {
	color: #b0b0b0;
	margin-bottom: 5px;
	line-height: 18px;
	font-size: 12px;
}
.mdl-1 .info {
	color: #fff;
}
.mdl-1 .info span {
	padding-right: 15px;
}
.mdl-1 .info span i {
	color: #7a94b9;
}
.mdl-1 .glyphicon-option-vertical {
	color: #7d8ea8;
	margin-right: -6px;
}
.mdl-1-extra {
	padding: 0px;
}
.mdl-1-extra .title, .mdl-1-extra .media {
	padding: 0 10px;
}
.mdl-1 .bg-selected {
	background: rgba(0,0,0,0.2);
}
.mdl-1 .img-place i {
	font-size: 3em;
	color: #fff;
}
.mdl-1 img{	
	margin-bottom:5px;
}

/************mdl-playlist-nominations***********/
.mdl-playlist-nominations {	
}

.mdl-playlist-nominations .col-md-4{	
	line-height:17px;	
}

.mdl-playlist-nominations .ellipsis{
	display:inline-block;/*Cut off text*/	
}

/************mdl-video-nominations***********/
.mdl-video-nominations,.mdl-videos,.mdl-playlists {
}

.mdl-videos .title{	
	margin-bottom:0;
	border-bottom:1px solid #eeeeee;	
	margin-bottom:20px;
}

.mdl-video-nominations .item,.mdl-videos .item,.mdl-playlists .item{	
	line-height:17px;
	margin-bottom:10px;
}

.mdl-video-nominations .item .image-play .fa::before,.mdl-video-nominations .item .image-play .fa::after,.mdl-videos .item .image-play .fa::before,.mdl-videos .item .image-play .fa::after,.mdl-playlists .item .image-play .fa::before,.mdl-playlists .item .image-play .fa::after{	
	display:none;
}

.mdl-video-nominations .item .ellipsis,.mdl-videos .item .ellipsis,.mdl-playlists .item .ellipsis{
	display:inline-block;/*Cut off text*/	
}

.mdl-video-nominations .item .singer-name,.mdl-videos .item .singer-name,.mdl-playlists .item .singer-name {
	margin:0;
}

/***********mdl-playlist*************/	
.mdl-playlists .nav-pills a {
	color:#333333;
	font-size:16px;
	}
	
.mdl-playlists  .nav>li>a:hover,.mdl-playlists .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
    color: #ff4200;	
}

.mdl-playlists .nav-pills > li.active > a,.mdl-playlists .nav-pills > li.active > a:hover,.mdl-playlists .nav-pills > li.active > a:focus	{
	background-color: transparent;
    color: #ff4200;
	text-decoration:underline;	
	}

.mdl-playlists  .tab-content {
	border-top:1px solid #eeeeee;
	padding-top:20px;
}	

.mdl-playlists .tab-remove-padding {
	padding-top:0;
}	

/************mdl-song-nominations***********/
.mdl-song-nominations {	
}

.mdl-song-nominations .title{	
	margin-bottom:0;
}

.mdl-song-nominations .media{	
	position:relative;
	border-bottom:1px solid #eeeeee;
	padding:10px 0;
	margin:0;
}

.mdl-song-nominations .media:last-child{
	border-bottom:0;
}

.mdl-song-nominations img{	
	margin-bottom:0;
}

.mdl-song-nominations .overlay{	
	background:#f6f6f6;
	position:absolute;
	right:0;
	top:0;
	height:68px;
	padding-top:22px;
	display:none;
}

.mdl-song-nominations .overlay a{	
	margin-right:5px;	
	line-height:22px;
	vertical-align:middle;
	display:inline-block;
	width:24px;
	height:24px;
	color:#fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-align:center;
}

.mdl-song-nominations .overlay a .fa{	
	font-size:16px;
	vertical-align:middle;
}

.mdl-song-nominations .overlay a .icon-share{
	margin-right:2px;
}

.mdl-song-nominations .overlay a .icon-play2{	
	margin-left:2px;
}

.mdl-song-nominations .media:hover,.mdl-song-nominations .media:hover .overlay{	
	background:#f6f6f6;
}

.mdl-song-nominations .right-info{	
	width:80px;
	color:#888888;
	font-size:12px;
	text-align:right;
}

.mdl-song-nominations .right-info-2{	
	width:125px;
}

.mdl-song-nominations .media-left{
	position:relative;	
	}

.mdl-song-nominations .mask{	
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,136,53,0.8), rgba(255,60,24,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,136,53,0.8), rgba(255,60,24,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,136,53,0.8), rgba(255,60,24,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,136,53,0.8), rgba(255,60,24,0.8)); /* Standard syntax */
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:48px;
	text-align:center;
	line-height:48px;
	vertical-align:middle;
	color:#fff;
}


.mdl-song-nominations .media-right .viewer,.mdl-song-nominations .media-right .download{	
	display:inline-block;
	text-align:center;
}

.mdl-song-nominations .right-info span{	
	padding-left:10px;
}

.mdl-song-nominations .right-info .fa{	
	font-size:18px;
	margin-top:4px;
}

.mdl-song-nominations .link-more-mobile,.mdl-songs .link-more-mobile{	
	color:#ff5726;
	vertical-align:top;
	display:none;
}

.mdl-song-nominations .link-more-mobile-close{	
	display:none;
}

.mdl-song-nominations .link-more-mobile .fa,.player-bar .link-more-mobile .fa,.mdl-songs .link-more-mobile .fa{	
	color:#ff5726;
	font-size:4px;
	margin-top:12px;
}

.mdl-song-nominations a.song-name{	
	display:inline-block;
	line-height:normal;
}

.mdl-song-nominations p.singer-name{	
	padding:0;
	line-height:normal;
}

/************mdl-billbroad***************/

.mdl-billboard {
	background:none;
	}
	
.mdl-billboard .nav-pills a {
	color:#333333;
	font-size:16px;
	}
	
.mdl-billboard  .nav>li>a:hover,.mdl-billboard .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
    color: #ff4200;	
}

.mdl-billboard  .media-right{
	font-size:36px;
	font-family:LatoThin;
}	
	
.mdl-billboard .nav-pills > li.active > a,.mdl-billboard .nav-pills > li.active > a:hover,.mdl-billboard .nav-pills > li.active > a:focus	{
	background-color: transparent;
    color: #ff4200;
	text-decoration:underline;	
	}	

.mdl-billboard .media{	
	position:relative;
	border-bottom:1px solid #eeeeee;
	padding:10px 0;
	margin:0;
}

.mdl-billboard .media:last-child{
	border-bottom:0;
}

.mdl-billboard img{	
	margin-bottom:0;
}

.mdl-billboard .media:hover,.mdl-billboard .media:hover .overlay{	
	background:#f6f6f6;
	display:block;
}

.mdl-billboard a.song-name{	
	display:inline-block;
	line-height:normal;
}

.mdl-billboard p.singer-name{	
	padding:0;
	line-height:normal;
}

.mdl-billboard .control-play-all {
	padding:10px 0;
	}	
	
.mdl-billboard .control-play-all a{	
	margin-right:5px;	
	line-height:29px;
	vertical-align:middle;
	display:inline-block;
	height:30px;
	color:#fff;
	padding:0 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:center;
}

.mdl-billboard .control-play-all .fa{
	vertical-align:middle;
	font-size:20px;
}


/***********mdl-artist************/
.mdl-artist {
	}
	
.mdl-artist .col-md-3,.mdl-artist .col-md-2{
	text-align:center;
	margin-bottom:20px;
	}	
	
.mdl-artist .singer-name{
	font-size:14px;
	display:none;
	}	
	
/***********mdl-news************/
.mdl-news{
	}
	
.mdl-news .description{
	margin-bottom:0;
	color:#888888;	
	padding-top:3px;
	}		

.mdl-news p.ellipsis{	
	margin-top:10px;
	margin-bottom:0;
	}	

/***********mdl-topic-highlight************/
.mdl-topic-highlight{
	}
	
.mdl-topic-highlight img{
	margin-bottom:0;
	}		

/**********************/
.link-more {
	clear: both;
	text-align: center;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 5px;
}
.link-more a {
	display: block;
	color: #ababab;
}
.link-more a:hover, .link-more a:focus {
	display: block;
	color: #7a94b9;
	text-decoration: none;
}
.icon-link {
	border-left: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	display: inline-block;
	width: 12px;
	height: 12px;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
}
a:hover .icon-link {
	border-left: 1px solid #7a94b9;
	border-bottom: 1px solid #7a94b9;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
}
.icon-link-close {
	border-left: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	display: inline-block;
	width: 12px;
	height: 12px;
	-ms-transform: rotate(-225deg); /* IE 9 */
	-webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
	transform: rotate(-225deg);
}
a:hover .icon-link-close {
	border-left: 1px solid #7a94b9;
	border-bottom: 1px solid #7a94b9;
	-ms-transform: rotate(-225deg); /* IE 9 */
	-webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
	transform: rotate(-225deg);
}




/***************player-bar*****************/
.player-bar {
	background:#000;
	width:100%;
}

.player-bar .box-playing {
	bottom:-500px;
}

/**************etc****************/
.peer-line {
	border-top:1px solid #eeeeee;
}

.peer-line-02 {
	margin-top:20px;
	border-top:1px solid #eeeeee;
}

.text-danger {
	color:#ff4200;
}

.text-success {
	color:#09ba00;
}

.text-primary {
	color:#4fcee9;
}

.song-name, a.song-name {
	color:#333333;
}
a.song-name:hover {
	color:#000;
	text-decoration:none;
}
.singer-name,.singer-name a{
	color:#888888 !important;
	font-size:12px;
}
a.singer-name:hover,.singer-name a:hover{
	color:#545454;
	text-decoration:none;
}
.bg-color-01,.bg-color-02,.bg-color-03,.bg-color-04,.bg-color-05,.bg-color-06,.bg-color-07,.bg-color-08,.bg-color-09,.bg-color-10,.bg-color-11,.bg-color-12,.bg-color-13{
	color:#fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-align:center;
}

.bg-color-01{	
	background:#ff6126;
}

.bg-color-02{	
	background:#aa7a69;
}

.bg-color-03{	
	background:#77d1e8;
}

.bg-color-04{	
	background:#9ecd63;
}

.bg-color-05{	
	background:#6e85c8;
}

.view-full-article {
	color:#ff4200 !important;
	text-decoration:underline;
	cursor:pointer;
}

.view-full-article .less-link{
	display:none;
}

.view-full-article .on{
	display:inline-block;
}

.view-full-article .off{
	display:none;
}

.less-article {
	height:110px;
	overflow:hidden;
}

.full-article {
	height:auto;
	overflow:inherit;
}

.space{
	padding-left:10px;
	}
	
.icon-playing {
	background:url(../images/playing-s.gif) no-repeat;
	width:16px;
	height:16px;	
	}	

/************footer*************/
.footer{
	border-top:1px solid #eeeeee;	
	padding:25px 0 65px 0;
	color:#848484;
	line-height:normal;
	font-size:13px;
	}
	
.footer .text-copyright {
	margin:0;
	color:#848484;
	}	
	
.footer a {

	color:#383838;
	padding-right:20px;	
	}
	
.footer .control-social {
		margin-bottom:10px;
	}	
	
/************mdl-songs***********/
.mdl-songs {	
}

.mdl-songs .title{	
	margin-bottom:0;
	border-bottom:1px solid #eeeeee;	
}

.mdl-songs .media{	
	position:relative;
	border-bottom:1px solid #eeeeee;
	padding:10px 0;
	margin:0;
}

.mdl-songs .media-body{	
	vertical-align:middle;
}

.mdl-songs img{	
	margin-bottom:0;
}

.mdl-songs .right-info{	
	width:220px;
	color:#888888;
	font-size:12px;
	text-align:right;
	padding-right:10px;
}

.mdl-songs .media-right .viewer,.mdl-songs .media-right .download,.mdl-songs .media-right .gift{	
	display:inline-block;
	text-align:center;
}

.mdl-songs .right-info span{	
	padding-left:10px;
}

.mdl-songs .right-info .fa{	
	font-size:16px;
	margin-top:7px;
	margin-right:5px;
}

.mdl-songs .media:hover{	
	background:#f6f6f6;
	display:block;
}

.mdl-songs .active{	
	background:#f6f6f6;
}

.mdl-songs .active .song-name{	
	color:#ff4200;
}

.mdl-songs .active .singer-name{	
	color:#000 !important;
}

.mdl-songs .overlay{	
	background:#f6f6f6;
	position:absolute;
	right:0;
	top:0;
	height:58px;
	padding-top:17px;
	display:none;
}

.mdl-songs .overlay a{	
	margin-right:5px;	
	line-height:24px;
	vertical-align:middle;
	display:inline-block;
	height:24px;
	color:#fff;
	padding:0 10px 0 7px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-align:center;
}

.mdl-songs .overlay a .fa{	
	font-size:16px;
	vertical-align:middle;
	margin-bottom:3px;
}

.mdl-songs .overlay a .icon-share{
	margin-right:2px;
}

.mdl-songs .overlay a .icon-play2{	
	margin-left:2px;
}


.mdl-songs .media:hover,.mdl-songs .media:hover .overlay,.mdl-songs .active .overlay{	
	background:#f6f6f6;
	display:block;
}

/************info-song************/
.info-song {
	border-bottom:1px solid #eeeeee;
	padding:15px 0;		
	}
	
.info-song .listener {
	color:#888888;	
	padding:5px 0 0 10px;	
	}
	
.info-song .listener .fa{
	padding-left:10px;
	font-size:18px;
	}	

.btn-function{	
	margin-right:5px;	
	line-height:24px;
	vertical-align:middle;
	display:inline-block;
	color:#fff;
	padding:2px 10px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	text-align:center;
	vertical-align:middle;
}

.btn-function .fa{	
	vertical-align:middle;
	font-size:16px;
	margin-bottom:2px;
}

.btn-function:hover{
	color:#fff;
	text-decoration:none;
}	

/************mdl-radios***********/
.mdl-radios {	
}

.mdl-radios .title{	
	margin-bottom:0;
	border-bottom:1px solid #eeeeee;	
}

.mdl-radios .title-2{	
	margin-bottom:0;
	line-height:18px;
	margin:40px 0 10px 0;
}

.mdl-radios .title-2 .txt{	
	margin-bottom:0;
	line-height:none;
}


.mdl-radios .media{	
	position:relative;
	padding:0;
	background:#f4f4f4;
	margin-top:20px;
}

.mdl-radios .media-body{	
	line-height:20px;
	vertical-align:middle;
}

.mdl-radios img{	
	margin-bottom:0;
}

.mdl-radios .bottom-info{	
	color:#888888;
	font-size:12px;
	text-align:left;
}

.mdl-radios .media-right .viewer,.mdl-radios .media-right .download,.mdl-radios .media-right .gift{	
	display:inline-block;
	text-align:center;
}

.mdl-radios .bottom-info span,.banner-02 .bottom-info span{	
	padding-right:10px;
}

.mdl-radios .bottom-info .fa,.banner-02 .bottom-info .fa{	
	font-size:16px;
	margin-top:7px;
	margin-right:7px;
}

.pager li > a,.pager li > span {
	padding:5px 11px;
	color:#656565;
}

.pager li.active > a,.pager li.active > span {
	background:#f86520;
	color:#fff;
	border-color:#f86520;
}


/************mdl-links***********/
.mdl-links {	
	margin-bottom:10px;
	margin-top:30px;	
}

.mdl-links .title{	
	font-family:LatoBold;
	font-size:16px;
	margin-bottom:5px;
	text-transform:uppercase;
}

.mdl-links .selected{	
	background:#f6f6f6;
	color:#2e2e2e;
	padding:7px 0 3px 0;
}

.mdl-links .item{	
	color:#636363;
	text-transform:capitalize;
	display:block;
	padding:5px 0;
}

.mdl-links .item:hover,.mdl-links .active{	
	color:#808080;
	text-decoration:none;
}

/************banner-2************/
.banner-02 {
	color:#fff;
	padding:30px 0;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#eb5203;
	position:relative;
	background-size:cover;	
	}
	
.banner-02 .bottom-info{	
	margin-top:10px;
}	
	
.banner-02 .description{
	font-size:16px;
	padding-top:10px;
	}	
	
.banner-02 .name a{
	color:#fff;
	}
	
.banner-02 h1{
	margin:30px 0 0 0;
	}
	
.banner-02 .big-name h1{
	background:rgba(254,83,0,0.9);
	font-family:LatoLight;
	padding:5px 10px 0 10px;
	font-size:36px;
	display:inline;
	}
	
.banner-02 .link{
	color:#fff;
	background:rgba(0,0,0,0.5);
	padding:4px 15px;
	margin-right:10px;
	}	
	
.banner-02 .like{
	background:#ff2a48;
	color:#fff;
	padding:7px 10px;
	border-radius:15px;
	}		
	
/***********mdl-comment****************/	
.mdl-comment {
	position: relative;
	clear:both;
}
.mdl-comment .time {
	color: #fff;
	padding: 0 10px;
	font-family:Lato;
}
.mdl-comment .item-comment {
	margin-top: 5px;
	padding-top: 10px;
}
.mdl-comment .item-comment .media-heading {
	margin-bottom: 0;
	line-height: normal;
	font-family:LatoBold;
	font-size:14px;
}
.mdl-comment p {
	margin-bottom: 0;
}
.mdl-comment .media-object {
	height: 48px;
	width: 48px;
}
.mdl-comment .media {
	margin-top:5px;
}
.mdl-comment .txt-singer{
	color:#333333;
}
.mdl-comment .txt-time {
	color: #a9a9a9;
	font-size: 12px;
	margin:5px 0;
}
.mdl-comment .txt-time .fa-circle{
	margin:0 5px;
	font-size:0.25em;
	vertical-align:middle;
}
.mdl-comment textarea {
	background:#f4f4f4;
	padding: 6px;
	border:1px solid #e6e6e6;
	box-shadow:0;
}
.mdl-comment .item-typing {
	margin-top: 5px;
	padding-top: 10px;
	background:#282828;
}
.mdl-comment .btn-send {
	background:none;
	border:0;
	font-size:1.8em;
	color:#9e9e9e;
}

.mdl-comment .btn-default{
	border-radius:20px;
}

/****************player**************/
.player {
	background:#000;
	margin:40px 0 10px 0;
}

.player img{
	width:100%;
}

.name-video,.name-video a{
	color:#fff;
	padding-top:40px;
}

/**************mdl-acc*************/
.mdl-acc{}

.mdl-acc .nav > li > a {
	padding:14px 15px;	
	}

/************mdl-form*************/
.mdl-form {
	}
	
.mdl-form .sub-title{
	text-transform:uppercase;
	font-family:LatoBold;
	padding-bottom:0;
	margin-bottom:0;
	font-size:16px;
	}
	
.btn-imuzik {
	color: #fff !important;
	background-color: #fe5301;
	border-color: #fe5301;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-left:30px;
	padding-right:30px;	
}

.ipt-imuzik{
	color: #323232;
	background-color: #f7f7f7;
	border-color: #dbdbdb;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
	box-shadow:none;
}

.mdl-form .first-col{
	padding-left:0;
}

.mdl-form .control a{
	border:1px solid #dbdbdb;
	color:#323232;
	padding:5px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.mdl-form .item-function{
	border:1px solid #dbdbdb;
	color:#323232;
	padding:15px 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom:20px;
}

.mdl-form .item-function h4{
	text-transform:uppercase;
}

.mdl-form .col-md-2,.mdl-form .col-md-4,.mdl-form .col-md-6{
	vertical-align:middle;
}


.mdl-form .last-col{
	padding-right:0;
}

.mdl-form td {
	vertical-align:middle !important;
}	

.popup-search {
	display: none;
}

.modal.fade .modal-dialog {

}

.function-user {
	text-align:center;	
}

.function-user a{	
	line-height:26px;
	vertical-align:middle;
	display:inline-block;
	height:30px;
	color:#fff;
	padding:3px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:center;
	vertical-align:middle;
	width:38%;
	margin:0 15px;
	margin-top:15px;
	text-align:left;
}

.function-user a .fa{	
	font-size:18px;
	margin-bottom: 5px;
    vertical-align: bottom;
}

.function-user a:hover{	
	color:#fff;
}

.btn-scroll-genre,.btn-scroll-account {
	display:none;	
}

/********player-bar**********/

.player-bar {
	background:#000 !important;
}

.player-bar .player-container {
	margin:0 auto;
}

.box-playing .list-group-item .image-playing{
	float:left;
	margin-right:10px;
	width:34px;
	height:34px;		
	}

/*.player-bar .box-playing {
	display:none;
}*/
.player-bar .box-playing .list-group-item {
		padding:7px 15px 0 15px;
		}
		
.player-bar .box-playing {
	position:absolute;
	bottom:-500px;
	right:0;
	background:#000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
	padding-bottom:0;
	width:285px;
}

.player-bar .wrap-text {
	display:inline-block;
	overflow:hidden;
}

.player-bar .box-playing .active .song-name {
	width:100%;	
}

.player-bar .box-playing .song-name,.player-bar .box-playing .singer-name {
	width:100%;
}

.player-bar .control-left {
	float:left;
	margin-right:10px;
}

.player-bar .control-left a{
	display:inline-block;
	color:#fff;
	margin:11px 15px 11px 0px;
	vertical-align:top;
}

.player-bar .control-left a i{
	color:#fff;
	font-size:22px;
}

.player-bar a .icon-volume,.player-bar a .icon-volume-off {
	font-size:14px;
}

.player-bar .control-left a .icon-shuffle {
	font-size:14px;
}

.player-bar .control-left a .icon-next,.player-bar .control-left a .icon-previous {
	font-size:16px;
}

.player-bar .control-left a .icon-play2,.player-bar .control-left a .icon-pause2 {
	font-size:24px;
}

.player-bar .control-left a .selected{
	color:#ff4f0b;
}

.player-bar .control-left .next,.player-bar .control-left .shuffle,.player-bar .control-left .previous{
	margin-top:16px;
	vertical-align:middle;
}

.player-bar .control-center {
	text-align:left;
}

.player-bar .control-center .text-elapsed{
	float:left;
	color:#ff4200;	
	margin:0 10px;	
	margin-top:17px;	
	font-size:11px;
}

.player-bar .control-center .text-duration{
	float:right;
	color:#fff;
	margin:0 10px;
	margin-top:17px;
	font-size:11px;	
}

.player-bar .control-center .volume,.player-bar .control-center .fullscreen{
	float:right;
	color:#fff;
	margin:0 10px;	
	margin-top:12px;
	font-size:18px;
}

.player-bar .control-center .volume a,.player-bar .control-center .fullscreen a{
	color:#fff;
}

.player-bar .control-center .buffer{
	background-color:#666666;
	height:2px;
	position:relative;
	z-index:1;	
}

.player-bar .control-center .progess{
	background-color:#ff6c11;
	height:2px;
	position:relative;
	z-index:2;
	top:-2px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.player-bar .control-center .slider-horizontal{
	background-color:#282828;
	height:2px;
}

.player-bar .control-center .knob{
	background-color:#ffc90f;
	height:6px;
	width:6px;
	position:relative;
	float:right;
	top:-2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    box-shadow: 0px 0px 20px #fff992;
}

.player-bar .control-right .image{
	width:34px;
	height:34px;
	float:left;
	margin-top:3px;
	margin-right:10px;
}

.player-bar .control-right .live{
	float:right;
	color:#ff4200;
	margin-left:10px;
	margin-top:7px;
}

.player-bar .control-right .live i{
	font-size:24px;
	color:#ff4200;
}

.player-bar .control-right a,.player-bar .control-right .open-popup{
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	line-height:18px;
}

.player-bar .box-playing {
	bottom:-500px;
}


.player-bar .link-more-mobile{
	display:none;
	}	
	
.icon-more{	
	font-size:5px;
	color:#ff5726;
}		

@media (min-width:769px) {
.banner {
	min-height:600px;
}
.box-playing {
	width:260px;	
}
.scroll-content{	
	height:410px;
}
.mdl-video-nominations .col-md-6 {
	width: 58.4%;
}
.mdl-video-nominations .col-md-6 .image-play{
	height:264px;
	overflow:hidden;
}
.mdl-video-nominations .col-md-3 {
	width: 20.8%;
}
.mdl-topic-highlight .col-md-9 img{
	height:285px;
	background-color: #ddd;
	object-fit: cover;/*crop center images*/
}
.mdl-billboard, .mdl-song-nominations, .mdl-news {
	padding-left:30px;
	}
	
.modified-left {
	padding-left:0;
	padding-right:15px;
}
	
.modified-right {
	padding-left:15px;
	padding-right:0;
}	
	
.reset-padding{
	padding-left:0;
	}	
	
.mdl-artist .singer-name{
	display:block;
	}
	
.box-playing .song-name,.box-playing .singer-name{
	width:230px;
	display:inline-block;
	margin-bottom:0;
	}
	
.box-playing .active .song-name{
	width:200px;
	}
	
.mdl-radios .song-name,.mdl-radios .singer-name{	
	width:220px;
	display:inline-block;
}			

.mdl-news img{	
	margin-bottom:0;
	}	

.mdl-artist img{
	width:86%;
	}	
	
.mdl-playlists .title{
	position:relative;
	margin-bottom:-46px;
	z-index:5;
	width:160px;
	}
	
.mdl-playlists .nav-pills{
	margin-left:160px;
	margin-bottom:5px;
	}	
	
.mdl-acc .title{
	width:320px;
	}
	
.title .view-full-article,.title-2 .view-full-article{
	font-size:14px !important;
	font-family:Lato;
	margin-top:20px;
	}	
	
.mdl-acc .nav-pills	{
	margin-left:320px;	
	}	
	
.modal-sm {
	width:460px;
	}	
	
.modal-sm .modal-content {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;	
	}
	
.modal-sm .modal-body {
	padding:25px 15px;
	}	
	
.space{
	padding-left:50px;
	}	

/*************** Styles specific to this particular page *****************/
   .scroll-pane
	{
		width: 100%;
		overflow: auto;
	}
	
	.box-playing .scroll-pane {
		height:292px;
	}
	
	.mdl-song-nominations .scroll-pane
	{
		height: 420px;
	}
	
	.mdl-billboard .scroll-pane
	{
		height: 435px;
	}
	
	.mdl-links .scroll-pane{
		height: 1080px;
	}
	
	.mdl-song-nominations .media:hover .overlay{	
		display:block;
	}
	
	.mdl-video-nominations .col-md-6 .image-play .fa::before,.mdl-video-nominations .col-md-6 .image-play .fa::after,.mdl-videos .col-md-6 .image-play .fa::before,.mdl-videos .col-md-6 .image-play .fa::after,.mdl-playlists .col-md-6 .image-play .fa::before,.mdl-playlists .col-md-6 .image-play .fa::after{	
	display:inline-block;
	}
	
	.mdl-topic-highlight .col-md-9,.mdl-topic-highlight .col-md-3{
		padding:0;
	}
	
	.footer .control-social {
		float:right;
	}
	
	/************box-playing*************/
	.box-playing {
		margin:125px 0 0 0;
		float:right;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background:rgba(0,0,0,0.5);
		padding-bottom:15px;
	}
	
	.box-playing .list-group-item:first-child {
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;	
		}	
		
	.box-playing .list-group-item:last-child {
		-webkit-border-bottom-right-radius: 15px;
		-webkit-border-bottom-left-radius: 15px;
		-moz-border-radius-bottomright: 15px;
		-moz-border-radius-bottomleft: 15px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;	
		}	
		
	.box-playing .list-group-item {
		border:0;
		margin:0;
		padding:7px 15px 3px 15px;
		line-height:16px;
		background:transparent;
		}	
		
	.box-playing .list-group-item .fa{
		margin-top:3px;
		display:none;
		}	
	
	.box-playing .list-group-item.active .fa,.box-playing .list-group-item h4 .fa{
		display:inline-block;
		}
		
	.box-playing .list-group-item h4 .fa-angle-right{
		font-size:26px;
		line-height:9px;
		}		
		
	.box-playing .list-group-item.active,.box-playing .list-group-item.active:hover,.box-playing .list-group-item.active:focus{
		background:#e84d02;
		color:#fff;
		}	
	
	.box-playing .list-group-item p{
		margin-bottom:0;
		}
		
	.box-playing .song-name,.box-playing a.song-name {
		color:#aaaaaa;
		}
	.box-playing .singer-name,.box-playing .singer-name a{
		color:#666666;
		}
	.box-playing .active a{
		color:#ffffff !important;
		}	
	
	.box-playing a.song-name:hover {
		color:#aaaaaa;
	}
	
	.box-playing a.singer-name:hover,.box-playing .singer-name a:hover{
		color:#666666;
	}	
	
	.box-playing .active a.singer-name:hover,.box-playing .active .singer-name a:hover,.box-playing .active a.song-name:hover,.box-playing .active .song-name a:hover {
		color:#fff;
	}	
		
	.box-playing h4{
		margin:0;
		color:#fff;
		text-transform:uppercase;
		font-weight:14px;
		font-family:LatoLight;
		margin:10px 0 7px 0;
		}			
			
.banner-02 .image{
	float:right;
	}

.banner-02 .big-name{
	padding:60px 0 15px 0;
	}	
	
.banner-02 .img-circle{
	margin-right:15px;
	float:left;
	}
	
.mdl-billboard .title{
	position:relative;
	margin-bottom:-46px;
	z-index:5;
	width:90px;
	}
	
.mdl-billboard .nav-pills{
	margin-left:90px;
	margin-bottom:5px;
	}	
	
.modified-left .title,.modified-right .title{
	width:150px;
}

.modified-left .nav-pills ,.modified-right .nav-pills {
	margin-left: 150px;	
}

.player-bar .control-right {
	width:270px;
	margin-left:20px;
}

.player-bar .control-center .slider-horizontal{
	background-color:#282828;
	height:2px;
	float:left;
	width:43%;
	margin-top:23px;	
}	

.player-bar .control-right {
	float:right;
	margin-top:4px;
}

.player-bar .player-container {
	width:960px;
	position:relative;
}

.player .player-bar .player-container {
	width:100%;
}	

.player .player-bar .control-center .slider-horizontal{
	width:50%;
}

.mdl-songs .media-body{	
	line-height:36px;
}

.player{
	width:642px; 
	height:370px;
	margin-right:50px;
}

.player .control-left{
	margin-left:20px;
}

.banner-02 .name{
	padding-top:130px;	
	}
	
.mdl-comment {
	padding-bottom:50px;
}

.mdl-form .form-group{
	margin-top:15px;
	vertical-align:middle;
}

.mdl-form .form-inline .form-group{
	margin-top:0;
}

.mdl-form .col-md-2{
	padding-top:9px;
}

.mdl-form .col-md-4{
	padding-top:6px;
}	

.player-bar .show-box {
	bottom:0;
}

}


@media (min-width:800px) and (max-width:980px) {
	.container {
		width:100%;	
	}
	
	.player-bar .player-container {
		width:100%;	
		padding-left:10px;
		padding-right:10px;
	}
	
	.mdl-billboard, .mdl-song-nominations, .mdl-news {
		padding-left: 0;		
	}
	
	.mdl-topic-highlight .col-md-9 img {
		height:480px;		
	}
	
	.mdl-topic-highlight .wrap-carousel {
		padding-left:10px;
		padding-right:10px;		
	}
	
	.mdl-song-nominations .media-right{
		padding-left:0;
		padding-right:10px;	
	}
	
	.mdl-video-nominations .col-md-6 .image-play {
		height:264px;		
	}
	
	.mdl-news .media-heading{
		margin-top:10px;		
	}
	
	.player-bar .control-center .slider-horizontal {
		width:44%;
	}
}

@media (width:800px){
	.nav > li > a {
		padding-left:8px;
		padding-right:8px;		
	}
	
	.navbar-form {
		width:160px;	
	}
	
	.navbar-imuzik .navbar-brand {
		margin-right:15px;		
	}
	
	.player-bar .control-center .slider-horizontal {
		width:31%;
	}
	
	.mdl-topic-highlight .col-md-9 img {
		height:390px;		
	}
	
	.player {
		width:520px;
		height:305px;		
	}
	
	.player .player-bar .control-center .slider-horizontal {
		width:40%;		
	}
	
	.mdl-form .col-md-2 {
		margin-bottom:5px;		
	}
}

/*----------------------------------------------------------------------------------------------------------*/
/***********************************************FOR MOBILE***************************************************/
/*----------------------------------------------------------------------------------------------------------*/

@media (max-width:769px) {
	
.mdl-song-nominations .media-right .right-info{	
	width:155px;
	}		

.mdl-song-nominations .media-right .link-more-mobile,.player-bar .link-more-mobile,.mdl-songs .link-more-mobile{	
	display:inline-block;
	cursor:pointer;
	}
	
.mdl-song-nominations .active .media-right .link-more-mobile{
	display:none;
	}	
	
.mdl-song-nominations .active{	
	background:#f6f6f6;
	}	

.mdl-song-nominations .link-more-mobile-close {
	display:none;
	}
	
.mdl-song-nominations .active .link-more-mobile-close{
	display:inline-block;
	padding-right:8px;
	margin-top:7px;
	vertical-align:top;	
	cursor:pointer;
	}		
	
.mdl-song-nominations .link-more-mobile-close .fa-times-circle-o{/*replace class name after update icon*/
	color:#999999;
	font-size:22px;
	}	

.mdl-song-nominations .active .song-name{	
	color:#ff4200;
	}

.mdl-song-nominations .active .singer-name{	
	color:#000 !important;
	}
		
.mdl-song-nominations .active .overlay{	
	background:#f6f6f6;
	display:block;
	right:35px;
	}
	
.navbar-imuzik{
	text-align:center;
	}
	
.navbar-imuzik .navbar-header{
	position:relative;
	height:50px;
	}		
	
.navbar-imuzik .navbar-toggle{
	float:none;
	position:absolute;
	top:0px;
	left:0;
	}
	
.navbar-imuzik .search-mobile{
	position:absolute;
	top:12px;
	right:10px;
	color:#fff;
	display:block;	
	}
	
.navbar-imuzik .search-mobile .fa-search{
	font-size:24px;
	}			
	
.navbar-imuzik .navbar-brand{
	float:none;
	display:inline-block;
	}		
	
.navbar-form {
	display:none;	
	}	
	
.navbar-collapse {
	text-align:left;	
	}
	
.navbar-imuzik .navbar-nav > li > a {
	padding-top:7px;	
	padding-bottom:7px;		
	}	
	
.navbar-default .navbar-toggle {
	color:#fff;	
	border:0;
	}
	
.navbar-default .navbar-toggle .icon-bar {
	background-color:#fff;	
	width:25px;
	}	
	
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
	}

.mdl-1 .row-carousel{
	margin-left:-23px;
	margin-right: -10px;
	}

.mdl-billboard .nav > li > a {
	padding:10px;	
	}

.banner{
	min-height:300px;
	}
	
.banner .box-playing{
	position:absolute;
	bottom:0;
	left:10px;
	}

.banner .box-playing .list-group-item {
	display:none;	
	}
	
.banner .box-playing .active,.banner .box-playing .list-group-item:first-child{
	display:block;
	padding:0;
	background-color:transparent;
	border:0;
	color:#fff;
	}
	
.banner .box-playing .active .pull-right{
	margin-top:22px;
	}	

.banner .box-playing .list-group-item:first-child h4{
	color:#ff4200;
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:0;
	}	
	
.banner .box-playing .list-group-item:first-child span{
	display:none;
	}
	
.banner .box-playing .list-group-item.active,.box-playing .list-group-item.active:hover,.box-playing .list-group-item.active:focus {
	color: #fff;
	background-color: transparent;
}

.banner .box-playing .song-name	{
	color:#fff !important;
	font-size:34px;	
	font-family:LatoLight;
	vertical-align:middle;
	line-height:none;
	}
	
.banner .box-playing .singer-name a{
	color:#fff !important;
	}
	
/************box-search***************/		
.popup-search {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	z-index: 1031;
}
.box-search {
	margin-top: 0;
	background: #000;
	color: #fff;
	float: left;
	width: 100%;
	padding: 8px 0 4px 0;
}
.text-search {
	padding:0 10px;
	color:#919191;
	margin-top:20px;
}
.box-search .pull-right {
	width: 14%;
}
.box-search .pull-left {
	width: 14%;
	text-align: right;
}
.box-search .fa {
	color: #fff;
	font-size: 1.7em;
	margin: 2px 10px 10px 10px;
}
.box-search .ipt-search {
	width: 72%;
	color: #000;
	border: 0;
	border-radius: 3px;
	padding: 4px 10px;
}

/*box-search-suggess*/
.box-search-suggess {
	margin-top: 38px;
	color: #fff;
	width: 100%;
	padding: 10px 0 0 0;
	display: none;
	-webkit-transition: display 1s; /* Safari */
	-webkit-transition-timing-function: linear; /* Safari */
	transition: display 1s;
	transition-timing-function: linear;
}
.box-search-suggess ul {
	list-style: inside none;
	padding: 0 0 0 0;
	margin: 0;
}
.box-search-suggess ul li {
	border-top: rgba(255,255,255,0.1) solid 1px;
	padding: 10px 15px;
	color:#919191;
}
.box-search-suggess .glyphicon,.box-search-suggess .fa {
	color: #fff;
	margin-right: 10px;
	font-size: 1.2em;
}
.box-search-suggess .txt-song, .box-search-suggess .txt-song a {
	color: #fff;
}
.box-search-suggess .txt-singer, .box-search-suggess .txt-singer a {
	color: #ffa000;
}
	
.navbar-fixed-top-mobile{
	left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}	

.btn-scroll-genre {
	display:block;
	margin-top:70px;
}

.btn-scroll-account {
	display:block;
	margin-top:40px;
}

.btn-scroll-genre .fa-caret-down,.btn-scroll-account .fa-caret-down{
	margin-top:3px;
}

/*mdl-links*/
.mdl-links {
	padding:0 10px;
	overflow:scroll;
	margin-top:20px;
}

.btn-function{	
	padding:5px 10px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	margin-bottom:10px;
}

.banner-02 {
	text-align:center;
}

.banner-02 .image, .banner-02 .img-circle{
	margin:30px 0 15px 0;
}

.banner-02 .big-name{
	margin-bottom:5px;
}

.mdl-billboard {
	padding-left:0;
	padding-right:0;
}
	
.modified-left {
	margin-top:70px;
}

.mdl-billboard .nav > li > a {
    padding: 0 20px 0 0;
}

.modified-left .media:last-child{
	border-bottom:1px solid #eeeeee;
}	

.player-bar .control-center .volume, .player-bar .control-center .text-duration,
.player-bar .control-center .text-elapsed,
 .player-bar .control-right .image, .player-bar .control-right .live {
	display:none;
}

.player-bar .control-right {
	position:absolute;
	bottom:4px;
	left:85px;
}

.player-bar .control-left {
	padding-left:15px;
}

.player-bar .link-more-mobile{	
	float:right;
	position:absolute;
	right:15px;
	top:12px;
}

.player-bar .shuffle i {
	display:none;
}

.player-bar .box-playing {
    width: 100%;
    float: right;
    margin: 125px 0 0;
}

.player-bar .box-playing h4 {
    color: #fff;
    font-family: LatoLight;
    margin: 10px 0 7px;
    text-transform: uppercase;
}

.player-bar .box-playing .list-group-item {
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    line-height: 16px;
    margin: 0;
    padding: 7px 15px 3px;
}

.player-bar .box-playing .list-group-item .fa {
    display: none;
    margin-top: 3px;
}

.player-bar .box-playing .list-group-item.active .fa, .player-bar .box-playing .list-group-item h4 .fa {
    display: inline-block;
}

.player-bar .box-playing .list-group-item h4 .fa-angle-right{
	font-size:26px;
	line-height:9px;
	}		

.player-bar .box-playing .list-group-item .fa {
    margin-top: 3px;
}

.player-bar .box-playing .active a {
    color: #ffffff !important;
}

.player-bar .box-playing .song-name, .player-bar .box-playing a.song-name {
    color: #aaaaaa;
}

.player-bar .box-playing .song-name, .player-bar .box-playing .singer-name {
    display: inline-block;
    margin-bottom: 0;
}

.player-bar .box-playing .list-group-item.active, .player-bar .box-playing .list-group-item.active:hover, .player-bar .box-playing .list-group-item.active:focus {
    background: #e84d02;
    color: #fff;
}

.navbar-imuzik .search-mobile .icon-search2 {
	font-size:22px;	
}

.navbar-imuzik .user {
	margin-left:15px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color:#fff;
}

.mdl-songs .media-body{	
	vertical-align:top;
}

.mdl-songs .media-right{	
	position:absolute;
	bottom:4px;
	left:-5px;
}

.mdl-songs .right-info .fa{	
	font-size:14px;
}

.mdl-songs .link-more-mobile{	
	position:absolute;
	top:7px;
	right:0;
}

.mdl-songs .media:hover .overlay, .mdl-songs .active .overlay {
	display:none;
}

.banner-02 h1 {
	font-size:18px;
}

.nav-pills > li > a {
	padding:10px 15px 10px 0;
	}
	
.mdl-acc .nav > li > a {
	padding:14px 15px 14px 0;	
	}
	
.title .view-full-article,.title-2 .view-full-article{
	display:none;
	}	
	
.ipt-imuzik {
	width:100% !important;	
	margin-bottom:10px;
	margin-top:10px;
	}
	
.player-bar .show-box {
	bottom:50px;
	}	
}

.navbar-imuzik .navbar-form {
	position:relative;	
	}

/*box-search-suggess-web*/
.box-search-suggess-web {
	margin-top: 0;
	color: #fff;
	width: 137%;
	padding: 10px 0 0 0;
	display: block;
	-webkit-transition: display 1s; /* Safari */
	-webkit-transition-timing-function: linear; /* Safari */
	transition: display 1s;
	transition-timing-function: linear;
	background:#ee3a02;
	position:absolute;
	top:32px;
	left:0px;
	z-index:3;
	display:none;
}
.box-search-suggess-web ul {
	list-style: inside none;
	padding: 0 0 0 0;
	margin: 0;
}
.box-search-suggess-web ul li {
	border-top: rgba(255,255,255,0.1) solid 1px;
	padding: 10px 15px;
	color: #fff;	
}
.box-search-suggess-web .glyphicon,.box-search-suggess-web .fa {
	color: #fff;
	margin-right: 10px;
	font-size: 1.2em;
}
.box-search-suggess-web .txt-song, .box-search-suggess-web .txt-song a {
	color: #fff;
}
.box-search-suggess-web .txt-singer, .box-search-suggess-web .txt-singer a {
	color: #fff;
}