<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="control-social">
                    <a href="#"><img src="/images/facebook.png"/></a>
                    <a href="#"><img src="/images/youtube.png"/></a>
                    <a href="#"><img src="/images/instagram.png"/></a>
                </div>
                <p><a href="#">Trang chủ</a> <a href="#">Giới thiệu</a> <a href="#">Điều khoản sử dụng</a> <a href="#">Góp
                        ý/Báo lỗi</a> <a href="#">Câu hỏi thường gặp</a>
                </p>
                <p class="text-copyright">Copyright © Imuzik. Đơn vị chủ quản: Tập Đoàn Viễn Thông Quân Đội Viettel.<br>
                    Giấy phép MXH số 67/GP-BTTTT cấp ngày 05/02/2016.</p>
            </div>
        </div>
    </div>
</div>
