<div class="player-bar navbar-fixed-bottom" id="allPlaylistProcess">
    <div class="player-container" id="magicPlayer">
        <div class="control-right">
            <div class="open-popup">
                <img id="playerCurrentSingerImg" src="" width="48" height="48" alt="" class="image"/>
                <span class="ellipsis" id="playerCurrentSongName"></span><br>
                <span class="singer-name ellipsis" id="playerCurrentSingerName"></span>
            </div>
        </div>

        <div class="control-left" id="playerCurrentControlBar">
            <a href="javascript:void(0)" id="playerCurrentBtnPlay" class="ic-play jp-play"><i class="fa icon-play2 selected"></i></a><!--remove class 'selected' for normal case-->
            <a href="javascript:void(0)" style="display:none;" class="ic-play jp-pause"><i class="fa icon-pause2"></i></a>
            <a href="javascript:void(0)" id="playerCurrentBtnForward" class="next ic-pre jp-next"><i class="fa icon-next"></i></a>
            <!--<a href="#" class="previous"><i class="fa icon-previous"></i></a>-->
            <a href="javascript:void(0)" class="shuffle jp-shuffle">
              <i class="fa icon-shuffle"></i>
            </a>

            <a href="javascript:void(0)" class="shuffle jp-shuffle-off">
              <i class="fa icon-shuffle" style="color: #FF4F0B"></i>
            </a>
        </div>
        <div id="playerCurrentHidden" class="jp-jplayer" style="visibility: hidden;"></div>
        <div class="control-center">
            <!-- <div id="expandPlayerProcess" style="display:none"></div> -->
            <!-- <div class="volume">
                <a href="#"><i class="fa icon-volume"></i></a>
                <a href="#" style="display:none"><i class="fa icon-volume-off"></i></a>
            </div> -->
            <div class="text-duration time pull-left jp-current-time">00:00</div>
            <div class="text-elapsed time pull-right jp-duration">00:00</div>
            <div class="slider-horizontal rogress-imuzik jp-progress">
                <div class="buffer" style="width:0%"></div>
                <div id="playerCurrentProgress" class="progess real-time jp-play-bar" style="width:0%">
                    <div id="expandPlayerProcess" class="knob"></div>
                </div>
            </div>
        </div>
        <div class="jp-playlist" style="display:none">
            <ul id="playerExpandItemList" style="list-style: outside; padding: 0;">
            </ul>
        </div>

        <span class="link-more-mobile">
                <i class="fa icon-more"></i>
        </span>
    </div>
</div>
