<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mdl-1 mdl-form">
            <div class="modal-body">
                <h4 class="title-3">Đăng nhập</h4>
                <p>Quý khách vui lòng hoàn thành các thông tin sau để đăng nhập:</p>
                <div class="row form-group">
                    <div class="col-md-4">
                        Số điện thoại Viettel:
                    </div>
                    <div class="col-md-8">
                        <input id="login-username" type="text" name="username" class="form-control ipt-imuzik">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        Mật khẩu:
                    </div>
                    <div class="col-md-8">
                        <input id="login-password" type="password" name="password" class="form-control ipt-imuzik">
                    </div>
                </div>
                <p id="error-message" class="error-alert"></p>
                <p align="right">
                    <a href="javascript:void(0)" data-dismiss="modal" class="view-full-article">Hủy bỏ</a>
                    <span class="space"></span>
                    <button type="button" onclick="submitLogin()" class="btn btn-imuzik">ĐĂNG NHẬP</button>
                </p>
            </div>
          </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="modal-popup">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mdl-1 mdl-form">
            <div class="modal-body">
                <h5 class="title-4 ellipsis">Linh hồn tượng đá saphia</h5>
                <div class="function-user">
                    <a href="#" class="bg-color-01"><i class="fa icon-play2"></i> Nghe</a>
                    <a href="#" class="bg-color-02"><i class="fa icon-add-playlist"></i> Playlist</a>
                    <a href="#" class="bg-color-03"><i class="fa icon-download"></i> Tải</a>
                    <a href="#" class="bg-color-04"><i class="fa icon-share"></i> Chia sẻ</a>
                </div>
            </div>
        </div>
    </div>
</div>
