<div class="popup-search">
    <div class="box-search">
        <a href="#" class="pull-right" id="closeBox"><i class="fa icon-delete"></i></a>
        <a href="#" class="pull-left" id="clearSuggess"><i class="fa icon-refresh"></i></a>

        <div class="box-search-content">
            <input type="text" placeholder="Nội dung tìm kiếm ..." class="ipt-search">
        </div>

    </div>
    <div class="box-search-suggess">
        <ul id="contentSuggess">
            <li>
                <i class="icon-music-note"></i>
                <a href="#" class="txt-song">Nếu em được lựa chọn</a>
                <span>-</span>
                <a href="#" class="txt-singer">Lệ quyên</a>
            </li>
            <li>
                <i class="fa fa-film"></i>
                <a href="#" class="txt-song">Nếu em được lựa chọn</a>
                <span>-</span>
                <a href="#" class="txt-singer">Lệ quyên</a>
            </li>
            <li>
                <i class="fa fa-play-circle"></i>
                <a href="#" class="txt-song">Nếu em được lựa chọn</a>
                <span>-</span>
                <a href="#" class="txt-singer">Lệ quyên</a>
            </li>
            <li>
                <i class="fa icon-headphone"></i>
                <a href="#" class="txt-song">Nếu em được lựa chọn</a>
                <span>-</span>
                <a href="#" class="txt-singer">Lệ quyên</a>
            </li>
            <li>
                <i class="glyphicon glyphicon-cd"></i>
                <a href="#" class="txt-song">Nếu em được lựa chọn</a>
                <span>-</span>
                <a href="#" class="txt-singer">Lệ quyên</a>
            </li>
        </ul>
    </div>
</div>