<div class="col-sm-3 col-md-3">
   <div class="btn btn-default btn-scroll-genre" data-toggle="modal" data-target=".scroll-mobile">
      <i class="pull-right fa fa-caret-down"></i>Thể loại nhạc
     </div>

     <div class="scroll-mobile bs-example-modal-sm">
      <div class="scroll-mobile-sub-1">
        <div class="scroll-mobile-sub-2">
           <div class="mdl-links">
                <div class="scroll-pane horizontal-only">
                  {% for genre in listGenre %}
                    {% if genre.id == genreId %}
                      <div class="title" style="color:#EE3A02">{{ genre.name }}</div>
                    {% else %}
                        <a {{ ajax_url('singer/list',{'slug':genre.slug})|raw }} class="item" data-dismiss="modal">{{ genre.name }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
     </div>
        </div>
      </div>
    </div>
</div>
