<div class="mdl-1 mdl-video-nominations">
             <div class="title">Thông tin ca sĩ </div>
           	 <div class="content less-article">
             	{{(singer.description | purify ) | raw}}

                 <!-- <span class="view-full-article">
                    <span class="full-link">Xem đầy đủ</span>
                    <span class="less-link">Xem thu gọn</span>
                 </span> -->
             </p>
           </div>
</div>
