{# empty Twig template #}

<form class="form-horizontal" method="POST" enctype="multipart/form-data" id="register-form">
    <input type="hidden" name="Register[casting_id]" value="{{casting.id}}">
    <input type="hidden" name="{{csrfParam}}" value="{{csrfToken}}">
    <div class="form-group">
            <label class="col-sm-2 control-label">Họ và tên</label>
            <div class="col-sm-9">
                    <input type="text" id="registername" name="Register[name]" class="form-control validate[required]" />
            </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">Giới tính</label>
            <div class="col-sm-2">
                    <select class="form-control" name="Register[genre]">
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                            <option value="3">Khác</option>
                    </select>
            </div>
            <label class="col-sm-2 control-label">Năm sinh</label>
            <div class="col-sm-2">
                    <input name="Register[birth_year]" type="text" class="form-control datepicker"/>
            </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">Điện thoại</label>
            <div class="col-sm-3">
                    <input type="text" class="form-control validate[required]" name="Register[msisdn]"/>
            </div>
            <label class="col-sm-2 control-label">Khu vực</label>
            <div class="col-sm-2">
                    <select class="form-control" name="Register[location]">
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                            <option value="Huế">Huế</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                    </select>
            </div>
    </div>
   {# <div class="form-group">
            <label class="col-sm-2 control-label">Ngoại hình</label>
            <div class="col-sm-9">
                    <input type="text" class="form-control" name="Register[outfit]"/>
            </div>
    </div>#}
    <div class="form-group">
            <label class="col-sm-2 control-label">Chiều cao(cm)</label>
            <div class="col-sm-2">
                    <input type="text" class="form-control validate[required]" name="Register[height]"/>
            </div>
            <label class="col-sm-2 control-label">Cân nặng(kg)</label>
            <div class="col-sm-2">
                    <input type="text" class="form-control validate[required]" name="Register[weight]"/>
            </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">Số đo(cm)</label>
            <div class="col-sm-9">
                    <ul class="list-unstyled list-inline">
                            <li>
                                    <input type="text" class="form-control validate[required]" placeholder="Ngực(cm)" name="Register[chest]"/>
                            </li>
                            <li>
                                    <input type="text" class="form-control validate[required]" placeholder="Bụng(cm)" name="Register[waist]"/>
                            </li>
                            <li>
                                    <input type="text" class="form-control validate[required]" placeholder="Mông(cm)" name="Register[butt]"/>
                            </li>
                    </ul>
            </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">Hình ảnh</label>
            <div class="col-sm-9">
                    <div class="photo-upload" id="portrait">
                            <input style="display:block !important; height: 1px; width: 1px" type="file" name="Register[portrait]" class="validate[groupRequired[portrait]]"/>
                            <button class="btn btn-default upload-file" id="button-portrait" onclick="return chooseImage('button-portrait')">Chọn ảnh</button>
                            <div class="upload-thumb"></div>
                    </div>
                <br>
                    <div class="photo-upload" id="portrait_2">
                            <input style="display:block !important; height: 1px; width: 1px" type="file" name="Register[portrait_2]" class="validate[groupRequired[portrait]]"/>
                            <button class="btn btn-default upload-file" id="button-portrait-2" onclick="return chooseImage('button-portrait-2')">Chọn ảnh</button>
                            <div class="upload-thumb"></div>
                    </div>
                <br>
                    <div class="photo-upload" id="portrait_3">
                            <input style="display:block !important; height: 1px; width: 1px" type="file" name="Register[portrait_3]" class="validate[groupRequired[portrait]]"/>
                            <button class="btn btn-default upload-file" id="button-portrait-3" onclick="return chooseImage('button-portrait-3')">Chọn ảnh</button>
                            <div class="upload-thumb"></div>
                    </div>
            </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">Link facebook</label>
            <div class="col-sm-9">
                    <input type="text" class="form-control validate[required]" name="Register[facebook]"/>
            </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">Link sản phẩm</label>
            <div class="col-sm-9 insert-links" id="product-add">
{#                    <div class="input-group">#}
                            <textarea row="12" class="form-control validate[required]" name="Register[product][]"></textarea>
{#                            <span class="input-group-btn"> 
                                <button class="btn btn-default" type="button">Thêm</button> </span>#}
{#                    </div>#}
                    <div class="links-list">

                    </div>
            </div>
    </div>
    <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                    <button type="submit" class="btn btn-danger">ĐĂNG KÝ</button>
            </div>
    </div>
</form>
