<div id="main">
		<div class="container clearfix">
			<div class="main-content">
				<section class="section">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="form-wrapper register-form">
								<h1 class="the-title">Đăng ký thành công</h1>
								<p>Cảm ơn bạn đã đăng ký tham gia thử vai. Chúng tôi sẽ kiểm tra thông tin và liên lạc với bạn trong thời gian sớm nhất.</p>
								<p><button type="button" class="btn btn-danger" onclick="window.location.href='/'">Trở về Trang chủ</button></p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
