<div class="mdl-1 mdl-video-nominations">
  <div class="title ellipsis">
      <a href="#" class="txt"> Albums cùng chủ đề</a>
  </div>
<div class="row">
        <div class="col-md-4 col-xs-4 item">
            <a href="#" class="image-play">
                <img width="100%" src="/images/4x4.png">
                <i class="fa icon-play"></i>
            </a>
            <a href="#" class="song-name ellipsis">Con Tim Anh Nằm Đâu</a>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <a href="#" class="image-play">
                <img width="100%" src="/images/4x4.png">
                <i class="fa icon-play"></i>
            </a>
            <a href="#" class="song-name ellipsis">Con Tim Anh Nằm Đâu</a>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <a href="#" class="image-play">
                <img width="100%" src="/images/4x4.png">
                <i class="fa icon-play"></i>
            </a>
            <a href="#" class="song-name ellipsis">Con Tim Anh Nằm Đâu</a>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <a href="#" class="image-play">
                <img width="100%" src="/images/4x4.png">
                <i class="fa icon-play"></i>
            </a>
            <a href="#" class="song-name ellipsis">Con Tim Anh Nằm Đâu</a>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <a href="#" class="image-play">
                <img width="100%" src="/images/4x4.png">
                <i class="fa icon-play"></i>
            </a>
            <a href="#" class="song-name ellipsis">Con Tim Anh Nằm Đâu</a>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <a href="#" class="image-play">
                <img width="100%" src="/images/4x4.png">
                <i class="fa icon-play"></i>
            </a>
            <a href="#" class="song-name ellipsis">Con Tim Anh Nằm Đâu</a>
        </div>
     </div>
</div>
