<div class="container">
  <div class="row">
    {{include('_vietnam.twig',{'rankVnSong':rankVnSong,'rankVnVideo':rankVnVideo,'rankVnAlbum':rankVnAlbum})}}
    {{include('_euro.twig',{'rankEuSong':rankEuSong,'rankEuVideo':rankEuVideo, 'rankEuAlbum':rankEuAlbum})}}
  </div>
</div>
