{% if hot|length > 0 %}
<div class="mdl-1 mdl-video-nominations">
    <div class="title ellipsis">
        <a href="#" class="txt"> Video hot trong tuần</a>
    </div>
      <div class="row">
          {% for val in hot %}
          <div class="col-md-4 col-xs-4 item">
              <a href="{{ url('video/detail', {'slug' : val.slug}) }}" class="image-play">
                  <img width="100%" src="{{ val.image_path|imagePathThumb(164, 65, 'video') }}">
                  <i class="fa icon-play"></i>
              </a>
              <a href="{{ url('video/detail', {'slug' : val.slug}) }}" class="song-name ellipsis">
                {{val.name}}</a>
          </div>
          {% endfor %}
       </div>
</div>
{% endif %}
