{# empty Twig template #}
<div id="main">
		<div class="main-content">
			<div class="container">
				{{include('_detail.twig',{'movie':movie,'casting':casting})}}
				{{include('_moviesection.twig')}}
				<div class="text-center"><a href="#" class="btn btn-dark btn-load-more">XEM THÊM</a></div>
			</div>
		</div>
	</div>
