{# empty Twig template #}
<div id="main">
		<div class="main-content">
			<div class="container">
				{{include('_detail.twig',{'movie':movie,'casting':casting})}}
				{{include('_moviesection.twig',{'removeid':movie.id,'normal':normal,'page':page,'total':total,'limit':limit})}}
				
			</div>
		</div>
	</div>
